[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment=CART_ENDPOINT=cart-{{ env }}.clouding-app.shop:8080
Environment=DB_HOST=mysql-{{ env }}.clouding-app.shop
ExecStart=/bin/java -jar /app/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target